.homePageBody {
    background-color: #141414;
    color: #fff;
    font-family:sans-serif;
    font-size: 10px;
    overflow: visible;
    animation: PageTrans 1s linear;
    width: 100%;
    height: max-content;
    min-height: 100vh;
}

.homePageBody h2 {
    margin-left: 10px;
}

.flexRow {
    display: flex;
    gap: 10px;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.flexRow::-webkit-scrollbar {
    display: none;
}